* {
    padding: 0;
    margin: 7.5px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    background-image: url(img/backgroundCon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 20px 3px black;
    border-radius: 10px;
}

.left {
    background-image: url(img/love.jpg);
    background-size: cover;
    height: 80%;
}

.right {
    padding: 20px 40px;
    border-radius: 10px;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 125px;
    border-radius: 4px;
    background-color: #216845;
}

.field {
    width: 100%;
    border: 1px solid grey;
    outline: none;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    border-radius: 10px;
}

.field:hover {
    background-color: #FCF0EC;
    border: 1px solid #9C9C9C;
}

.field:focus {
    border: 1.8px solid #216845;
    background-color: #fff;
}

textarea {
    min-height: 150px;
    resize: none;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #3B9F4F;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
    font-weight: 700;
}

.btn:hover {
    background-color: #216845;
}


@media screen and (max-width: 700px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 195px;
    }
}